<div class="bg-card rounded-3 text-white p-4 position-relative">
    <i class="fa-regular fa-trash-can mt-3 position-absolute top-0 fa-2x"
        [class]="_helperService.textDir=== 'rtl'? 'ms-3 start-0':'me-3 end-0'"></i>
    <div class="p-2" [class]="_helperService.textDir === 'rtl'? 'me-5':'ms-5'">
        <p [class]="_helperService.textDir === 'rtl'? 'me-5':'ms-5'">{{'card.Movie'|translate}}</p>
        <p class="p-2 bg-white text-black rounded-3 w-75 text-center"> {{value}} <a [cdkCopyToClipboard]="value"
                matTooltip="Copy" (click)="copyCode()" class="text-white mx-2">
                <i class="fa-solid fa-copy fw-bold pointer" style="color: #000;"></i>
            </a>
        </p>
        <p [class]="_helperService.textDir=== 'rtl'? 'me-5':'ms-5'">{{'card.Valid'|translate}}</p>
    </div>

    <div class="brd"></div>

    <div class="d-flex justify-content-between p-4">
        <div class="d-flex mt-5">
            <h5>{{'card.Discount'|translate}}</h5>
            <p-button> {{'card.Share'|translate}} <i
                    class="fa-solid fa-share-from-square mx-2"></i></p-button>
        </div>
        <div [class]="_helperService.textDir=== 'ltr'? 'ms-5':'me-5'">
            <qrcode [qrdata]="'https://www.linkedin.com/in/saed-abd-%D9%8Felzaker-878349235/'" [width]="100"
                [errorCorrectionLevel]="'M'"></qrcode>
        </div>
    </div>
</div>