<section class="chart bg-white card p-2">
    <div class="d-flex justify-content-between ">
        <div>
            <h6>{{'chart.Statistics'|translate}}</h6>
            <p class="text-phone">{{'chart.Date'|translate}}</p>
        </div>
        <div>
            <select>
                <option value="year">{{'chart.Yearly'|translate}}</option>
                <option value="month">{{'chart.Monthly'|translate}}</option>
            </select>
        </div>
    </div>
    <div id="main"></div>
</section>