<section class="card my-3 p-3">
    <div class="d-flex justify-content-between">
        <div class="d-flex align-items-center">
            <h6 [class]="_helperService.textDir==='ltr'?'me-3':'ms-3'">{{'table.Sales'|translate}}</h6>
            <div class="p-grid p-align-center">
                <div class="p-col-12 p-md-6">
                    <span class="p-input-icon-left">
                        <i class="pi pi-search" [class]="_helperService.textDir==='ltr'?'searchItem':''"></i>
                        <input type="text" (input)="dt1.filterGlobal($event.target, 'contains')" pInputText
                            [placeholder]="_helperService.textDir==='ltr'?'Search':'البحث'" [(ngModel)]="searchValue" />
                    </span>
                    <i class="fa-solid fa-sliders mx-3"></i>
                    <i class="fa-solid fa-sort" [class]="_helperService.textDir==='ltr'?'me-5':'ms-5'"></i>
                </div>
            </div>
        </div>

        <div>
            <div class="d-flex align-items-center">
                <p-inputSwitch [(ngModel)]="checked" />
                <p class="mx-3" *ngIf="checked">{{'table.Activated'|translate}}</p>
                <p class="mx-3" *ngIf="!checked">{{'table.NotActivated'|translate}}</p>
                <p-button label="{{'table.Book'|translate}}" severity="help" />
            </div>
        </div>
    </div>

    <p-table #dt1 [value]="users" class="mt-3"
        [globalFilterFields]="['id', 'user', 'phoneNumber', 'image', 'Ticket_number', 'Ticket_Rate', 'Cinemas', 'Number_of_people', 'Number_of_purchases']"
        dataKey="id" [rows]="5" [rowsPerPageOptions]="[5, 10, 15]" [loading]="loading" [paginator]="true"
        [tableStyle]="{ 'min-width': ' 300px' }">
        <ng-template pTemplate="header">
            <tr>
                <th>#</th>
                <th>{{'table.User'|translate}}</th>
                <th>{{'table.TNumber'|translate}}</th>
                <th pSortableColumn="Ticket_Rate">
                    {{'table.TRate'|translate}} <p-sortIcon field="Ticket_Rate" />
                </th>
                <th>{{'table.Cinemas'|translate}}</th>
                <th>{{'table.People'|translate}}</th>
                <th>{{'table.Purchases'|translate}}</th>
                <th>{{'table.Ticket'|translate}}</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-user>
            <tr>
                <td>{{ user.id }}</td>
                <td class="d-flex align-items-center">
                    <img [src]="user.image" [alt]="user.user" class="mb-3 ms-3">
                    <div>
                        <h5>{{ user.user }}</h5>
                        <p class="text-phone">{{user.phoneNumber}}</p>
                    </div>
                </td>
                <td>{{ user.Ticket_number}}</td>
                <td>{{ user.Ticket_Rate }}</td>
                <td [pTooltip]="user.Cinemas">{{ user.Cinemas.split(' ').slice(0,2).join(' ') }}</td>
                <td>{{ user.Number_of_people }}</td>
                <td>{{ user.Number_of_purchases }}</td>
                <td>
                    <p-button class="mx-2" (click)="download()"> <i class="fa-solid fa-file mx-3"></i>
                        {{'table.download'|translate}} <i class="fa-solid fa-download mx-2"></i></p-button>
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="4">No records found</td>
            </tr>
        </ng-template>
    </p-table>


</section>